
<header data-role="header" data-position="fixed">
	<a href="javascript:;" onClick="javascript:history.back(-1);"
		data-icon="carat-l" data-iconpos="left" data-transition="none">返回</a>
	<h1>席位创建</h1>

</header>
<div data-role="main">
	<form>
		<ul data-role="listview">
			<li class="ui-field-contain"><label for="textinput-disabled">席位</label>
				<input name="textinput-disabled" id="textinput-disabled"
				placeholder="Text input" value="" type="text"></li>
			<li class="ui-field-contain"><label for="textinput-disabled">座位</label>
				<select name="select-native-fc" id="select-native-fc">
					<option value="two">2</option>
					<option value="four">4</option>
					<option value="six">6</option>
					<option value="eight">8</option>
					<option value="ten">10以上</option>
			</select></li>
			<li class="ui-field-contain"><label for="textinput-disabled">位置</label>
				<select name="select-native-fc" id="select-native-fc">
					<option value="small">大堂</option>
					<option value="medium">包厢</option>
					<option value="large">雅座</option>
			</select></li>
			<li class="ui-field-contain"><label for="textinput-disabled">店铺</label>
				<select name="select-native-fc" id="select-native-fc">
					<option value="small">龙岗店</option>
					<option value="medium">市民中心店</option>
					<option value="large">世贸店</option>
			</select></li>
			<li class="ui-field-contain"><label for="textinput-disabled">描述</label>

				<textarea cols="40" rows="8" name="textarea" id="textarea"
					placeholder="Text input"></textarea></li>

			<li class="ui-body">
				<fieldset class="ui-grid-a">
					<div class="ui-block-a">
						<button type="submit" class="ui-btn ui-corner-all ui-btn-a">取消</button>
					</div>
					<div class="ui-block-b">
						<button type="submit" class="ui-btn ui-corner-all ui-btn-a">创建</button>
					</div>
				</fieldset>
			</li>
		</ul>
	</form>
</div>
