
<header data-role="header" data-position="fixed">
	<a href="javascript:;" onClick="javascript:history.back(-1);"
		data-icon="carat-l" data-iconpos="left" data-transition="none">返回</a>
	<h1>评价详细</h1>

</header>
<div data-role="main">
	<ul data-role="listview">
		<li data-role="list-divider" data-theme="d">124455667<span
			class="ui-li-count">5星</span></li>
		<li><a href="prodetails.html" data-transition="none"> <img
				src="../img/logo.png">
				<h2>宫保鸡丁</h2>
				<p>推介指数:*****</p>
				<p>口味：</p>
				<p>色相：</p>

		</a></li>
		<li data-role="list-divider" data-theme="d">124455668<span
			class="ui-li-count">5星</span></li>
		<li><a href="prodetails.html" data-transition="none"> <img
				src="../img/logo.png">
				<h2>宫保鸡丁</h2>
				<p>推介指数:*****</p>
				<p>口味：</p>
				<p>色相：</p>

		</a></li>
	</ul>
</div>

