
<header data-role="header" data-position="fixed">
	<a href="javascript:;" onClick="javascript:history.back(-1);"
		data-icon="carat-l" data-iconpos="left" data-transition="none">返回</a>
	<h1>预约历史</h1>

</header>
<div data-role="main">
	<ul data-role="listview" data-split-icon="carat-r">
		<li data-role="list-divider" data-theme="d">预约号：1455533<span
			class="ui-li-count">2015-02-15 15：00</span></li>
		<li><a href="orders.html" data-transition="none">

				<h2>订单号：3455667882</h2>
				<p>座号：101</p>
				<p>菜品：10</p>

				<p class="ui-li-aside">

					<label><strong>70</strong>元</label> <label>已使用</label>
				</p>

		</a></li>
		<li data-role="list-divider" data-theme="d">预约号：1455534<span
			class="ui-li-count">2015-02-15 15：00</span></li>
		<li><a href="orders.html" data-transition="none">

				<h2>订单号：3455667883</h2>
				<p>座号：102</p>
				<p>菜品：5</p>

				<p class="ui-li-aside">

					<label><strong>70</strong>元</label> <label>未使用</label>
				</p>

		</a></li>
	</ul>
</div>

