
<header data-role="header" data-position="fixed">
	<a href="#" data-icon="user" class="ui-btn-left" id="btnLocation"
		data-transition="none">位置</a>
	<h1>首页</h1>
	<a href="javascript:;" id="btnPublish" data-icon="plus" class="ui-btn-right"
		data-transition="none">发布</a>
</header>
<div data-role="main">

	<ul id="productItems" data-role="listview" data-split-icon="plus">

	<!-- 	<li><a href="#" class="btnProductDetail"> <img
				src="../img/logo.png"> <span>Broken Bells</span> <label>Broken
					Bells</label> <span class="ui-li-aside"> <label><strong>2014-12-30</strong></label>
					<label> <strong>18:00</strong>
				</label>
			</span>

		</a> <a href="#11" class="btnPlus" ></a></li>
		
		<li><a href="#" class="btnProductDetail"> <img
				src="../img/logo.png"> <span>Warning</span> <label>Hot
					Chip</label> <span class="ui-li-aside"> <label><strong>2014-12-30</strong></label>
					<label> <strong>18:00</strong>
				</label>
			</span></a> <a href="#" class="btnPlus"></a></li>

		<li><a href="#" class="btnProductDetail"> <img
				src="../img/logo.png"> <span>Wolfgang Amadeus</span> <label>Phoenix</label>
				<span class="ui-li-aside"> <label><strong>2014-12-30</strong></label>
					<label> <strong>18:00</strong>
				</label>
			</span></a> <a href="#" class="btnPlus"></a></li> -->
	</ul>
</div>
<div id="foo1" data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="#home" id="btnHome" data-transition="none" >首页</a></li>
			
			<li><a href="#count" id="btnCount" data-transition="none">结算</a></li>
			<li><a href="#service" id="btnService" data-transition="none">服务台</a></li>
			<li><a href="#userinfo" id="btnUser" data-transition="none">个人信息</a></li>
		</ul>
	</div>

</div>
