<header data-role="header" data-position="fixed">
	<a href="#" id="btnBack" data-icon="carat-l" data-iconpos="left"
		data-transition="none">返回</a>
	<h1>开启美食之旅</h1>
</header>

<div data-role="main">
	<ul data-role="listview">
		<li class="ui-field-contain"><input type="text" name="username"
			id="username" placeholder="用户名" /></li>

		<li class="ui-field-contain"><input type="password"
			name="password" id="password" placeholder="密码" /></li>
		<li class="ui-field-contain"><input type="checkbox" checked
			name="savedFlag" id="savedFlag" /> <label for="savedFlag">保持登录状态</label>
		</li>

		<li class="ui-body">
			<fieldset class="ui-grid-a">
				<div class="ui-block-a">
					<a href="javascript:;" data-role="button" id="btnRegister">立即注册</a>
				</div>
				<div class="ui-block-b">
					<a href="javascript:;"  id="btnSave" data-role="button" >登录</a>
				</div>
			</fieldset>
		</li>
	</ul>


</div>
<footer id="foo1" data-role="footer" data-id="foo1"
	data-position="fixed">
	<h1>©2014 凌创技术出品</h1>
</footer>