
<div  class="my-page">

		<div data-role="header" data-position="fixed">
	<a href="#" data-icon="user" class="ui-btn-left" id="btnlogin"
		data-transition="none">登录</a>
			<h1>欢迎光临</h1>
		</div>
		<!-- /header -->

		<div data-role="content" id="mainPage">
			<ul data-role="listview">
				<li><a href="userinfo/login.html" data-transition="slide">
						<img src="img/apple.png" class="ui-li-thumb">
						<h2>iOS 6.1</h2>
						<p>Apple released iOS 6.1</p>
						<p class="ui-li-aside">4折</p>
				</a></li>
				<li><a href="userinfo/login.html" data-transition="slide">
						<img src="img/logo.png" class="ui-li-thumb">
						<h2>BlackBerry 10</h2>
						<p>BlackBerry launched the Z10 and Q10 with the new BB10 OS</p>
						<p class="ui-li-aside">4折</p>
				</a></li>
				<li><a href="userinfo/login.html" data-transition="slide">
						<img src="img/logo.png" class="ui-li-thumb">
						<h2>WP 7.8</h2>
						<p>Nokia rolls out WP 7.8 to Lumia 800</p>
						<p class="ui-li-aside">4折</p>
				</a></li>
				<li><a href="userinfo/login.html" data-transition="slide">
						<img src="img/logo.png" class="ui-li-thumb">
						<h2>Galaxy</h2>
						<p>New Samsung Galaxy Express</p>
						<p class="ui-li-aside">4折</p>
				</a></li>
				<li><a href="userinfo/login.html" data-transition="slide">
						<img src="img/logo.png" class="ui-li-thumb">
						<h2>Nexus 7</h2>
						<p>Rumours about new full HD Nexus 7</p>
						<p class="ui-li-aside">8折</p>
				</a></li>
				<li><a href="userinfo/login.html" data-transition="slide">
						<img src="img/logo.png" class="ui-li-thumb">
						<h2>Firefox OS</h2>
						<p>ZTE to launch Firefox OS smartphone at MWC</p>
						<p class="ui-li-aside">8折</p>
				</a></li>
				<li><a href="userinfo/login.html" data-transition="slide">
						<img src="img/logo.png" class="ui-li-thumb">
						<h2>Tizen</h2>
						<p>First Samsung phones with Tizen can be expected in 2013</p>
						<p class="ui-li-aside">8折</p>
				</a></li>
				<li><a href="userinfo/login.html" data-transition="slide">
						<img src="img/logo.png" class="ui-li-thumb">
						<h2>Symbian</h2>
						<p>Nokia confirms the end of Symbian</p>
						<p class="ui-li-aside">8折</p>
				</a></li>
			</ul>

		</div>


	</div>