<header data-role="header" data-position="fixed">
	<a href="#" data-icon="user" class="ui-btn-left" id="btnlogin"
		data-transition="none">登录</a>
	<h1>首页</h1>

</header>
<div data-role="main">

	<ul data-role="listview" data-split-icon="plus">
		<li data-role="list-divider" data-theme="d">2折<span
			class="ui-li-count">2</span></li>
		<li><a href="prodetails.html" data-transition="none"> <img
				src="../img/logo.png"> <span>Broken Bells</span> <label>Broken
					Bells</label> <span class="ui-li-aside"> <label><strong>2014-12-30</strong></label>
					<label> <strong>18:00</strong>
				</label>
			</span>

		</a> <a href="#"></a></li>
		<li><a href="prodetails.html" data-transition="none"> <img
				src="../img/logo.png"> <span>Warning</span> <label>Hot
					Chip</label> <span class="ui-li-aside"> <label><strong>2014-12-30</strong></label>
					<label> <strong>18:00</strong>
				</label>
			</span></a> <a href="#" class="btnPlus"></a></li>
		<li data-role="list-divider" data-theme="d">3折<span
			class="ui-li-count">1</span></li>
		<li><a href="prodetails.html" data-transition="none"> <img
				src="../img/logo.png"> <span>Wolfgang Amadeus</span> <label>Phoenix</label>
				<span class="ui-li-aside"> <label><strong>2014-12-30</strong></label>
					<label> <strong>18:00</strong>
				</label>
			</span></a> <a href="#" class="btnPlus"></a></li>
	</ul>
</div>
<footer id="foo1" data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="#" id="btnHome" data-transition="none" class="ui-btn-active">首页</a></li>
			
			<li><a href="#" id="btnCount" data-transition="none">结算</a></li>
			<li><a href="#" id="btnService" data-transition="none">服务台</a></li>
			<li><a href="#" id="btnUser" data-transition="none">个人信息</a></li>
		</ul>
	</div>

</footer>