
<header data-role="header" data-position="fixed">
	<a href="javascript:;" onClick="javascript:history.back(-1);"
		data-icon="carat-l" data-iconpos="left" data-transition="none">返回</a>
	<h1>订单明细</h1>

</header>
<div data-role="main">
	<ul data-role="listview" data-split-icon="carat-r">
		<li data-role="list-divider" data-theme="d">3455667882<span
			class="ui-li-count" style="right: 50%; background-color: #f3f3f3;">未使用</span><span
			class="ui-li-count">2</span></li>
		<li><a href="prodetails.html" data-transition="none"><img
				src="../img/logo.png"> <span>Broken Bells</span> <label>Broken
					Bells</label> <span class="ui-li-aside"> <label><strong>15分钟</strong></label>
					<label><strong>25</strong>元</label> <label><strong>2</strong>份</label>
			</span> </a></li>
		<li><a href="prodetails.html" data-transition="none"> <img
				src="../img/logo.png"> <span>Warning</span> <label>Hot
					Chip</label> <span class="ui-li-aside"> <label><strong>15分钟</strong></label>
					<label><strong>35</strong>元</label> <label><strong>1</strong>份</label>
			</span>


		</a></li>

	</ul>
	<a href="#" data-role="button">取消</a>
</div>

