
<header data-role="header" data-position="fixed">
	<a href="javascript:;" onClick="javascript:history.back(-1);"
		data-icon="carat-l" data-iconpos="left" data-transition="none">返回</a>
	<h1>店铺明细</h1>

</header>
<div data-role="main" class="content">
	<h4>一品小肥羊</h4>
	<a href="#popupParis" data-rel="popup" data-position-to="window"
		data-transition="fade"><img class="popphoto"
		src="../img/logo.png" alt="Paris, France" style="width: 30%"></a>
	<a href="#popupSydney" data-rel="popup" data-position-to="window"
		data-transition="fade"><img class="popphoto"
		src="../img/logo.png" alt="Sydney, Australia" style="width: 30%"></a>
	<a href="#popupNYC" data-rel="popup" data-position-to="window"
		data-transition="fade"> <img class="popphoto"
		src="../img/logo.png" alt="New York, USA" style="width: 30%"></a>
	<div data-role="popup" id="popupParis" data-overlay-theme="b"
		data-corners="false">
		<a href="#" data-rel="back"
			class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img
			class="popphoto" src="../img/logo.png" style="max-height: 512px;"
			alt="Paris, France">
	</div>
	<div data-role="popup" id="popupSydney" data-overlay-theme="b"
		data-corners="false">
		<a href="#" data-rel="back"
			class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img
			class="popphoto" src="../img/logo.png" style="max-height: 512px;"
			alt="Sydney, Australia">
	</div>
	<div data-role="popup" id="popupNYC" data-overlay-theme="b"
		data-corners="false">
		<a href="#" data-rel="back"
			class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img
			class="popphoto" src="../img/logo.png" style="max-height: 512px;"
			alt="New York, USA">
	</div>

	<div>简称：一品小肥羊-市民中心店</div>
	<div>位置：23</div>

	<div>图片</div>
	<div>视频</div>
</div>

