
<header data-role="header" data-position="fixed">

	<h1>用户信息</h1>

</header>
<div data-role="main">

		<ul data-role="listview">
			<li></li>
			<li data-icon="edit"><a href="updateuser.html"
				data-transition="none"> <img src="../img/logo.png"> <span>号角001</span>
			</a></li>
			<li></li>
			<li><a href="#" class="ui-nodisc-icon ui-btn ui-shadow ">

					<h4 for="slider1">信息推送</h4>
					<p class="ui-li-aside">
						<select name="slider1" id="slider1" data-role="slider">
							<option value="off">关</option>
							<option value="on">开</option>
						</select>
					</p>
			</a></li>
			<li><a href="#" class="ui-nodisc-icon ui-btn ui-shadow ">

					<h4 for="slider2">位置服务</h4>
					<p class="ui-li-aside">
						<select name="slider12" id="slider2" data-role="slider">
							<option value="off">关</option>
							<option value="on">开</option>
						</select>
					</p>
			</a></li>
			<li><a href="shops.html" data-transition="none">店铺明细 </a></li>
			<li data-icon="star"><a href="mydiscuss.html"
				data-transition="none">我的评价 </a></li>
		</ul>



</div>
<footer id="foo1" data-role="footer" data-id="foo1" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="#" id="btnHome" data-transition="none" >首页</a></li>
			
			<li><a href="#" id="btnCount" data-transition="none">结算</a></li>
			<li><a href="#" id="btnService" data-transition="none">服务台</a></li>
			<li><a href="#" id="btnUser" class="ui-btn-active" data-transition="none">个人信息</a></li>
		</ul>
	</div>

</footer>